apiVersion: v1
kind: Secret
metadata:
  name: {{ cluster_name }}-pull-secret
  namespace: {{ cluster_name }}
stringData:
  .dockerconfigjson: >-
    {"auths":{"11.21.24.7:5001":{"auth":"b3Blbn........    THIS IS WHERE THE PULL KEY GOES
type: kubernetes.io/dockerconfigjson
    
