apiVersion: v1
kind: Secret
metadata:
  name: {{ cluster_name }}-ssh-private-key
  namespace: {{ cluster_name }}
stringData:
  ssh-privatekey: |-
    -----BEGIN OPENSSH PRIVATE KEY-----
    <<<< HERE IS WHERE THE SSH Private key is stored >>>>>>
    -----END OPENSSH PRIVATE KEY-----
type: Opaque
