# Variables
#
# Cluster name (minus the cluster id)
cluster_name={{ cluster_name }}

# Stretch subnet id from Openstack
subnet_uuid={{ subnet_id }}

# rhcos CoreOS image on Openstack
os_image={{ os_image }}

